* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #F7F7F7;
}

.main-navigation {
	margin: 2rem 0;
}

.main-navigation li {
	margin: 0.5rem auto;
	font-size: 1.125rem;
}

.main-navigation li a {
	color: #587D8C;
}

.main-navigation h6 {
	font-size: 11px;
	line-height: 5px;
}

.main-navigation .well {
	border-style: solid;
	border-bottom: 0.325rem solid #587D8C;
}

header {
	background-color: #082D3C;
	height: 100%;
	width: 25%;
	position: fixed;
	top: 0;
	right: 0;
	text-align: center;
	padding: 2rem 3rem;
}

h2 a {
	color: #333;
	text-decoration: none;
}

h2 a:hover {
	color: #08C;
	text-decoration: none;
}

header .credits {
	color: #AAA;
	font-size: 0.725rem;
	position: absolute;
	bottom: 1.5rem;
	left: 2.5rem;
}

#projects {
	width: 75%;
	padding-top: 2rem;
}

#projects div {
	width: 90%;
	max-width: 45rem;
	margin: 0 auto 1rem auto;
}