body {
	background-color: #F7F7F7;
}

.sidebar-nav {
	background-color: #F3F3F3;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

header {
	background-color: #222;
	height: 100%;
	width: 30%;
	position: fixed;
	top: 0;
	right: 0;
	text-align: center;
}

.content {
	width: 70%;
	padding-top: 2rem;
}